
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Générer QRCode</ion-title>
      </ion-navbar>
</ion-header>


<ion-content padding>
<ion-item>
  <ion-input type="text" placeholder="Mon text QRCode" [(ngModel)]="qrText" ></ion-input>
</ion-item>
<button ion-button full icon-left (click)="generateCode()">
  <ion-icon name="barcode"></ion-icon> Générer un QrCode
</button>
<ion-card *ngIf="displayQrCode()">
  <img [src]="qrGenerate" />
  <ion-card-content>
    <ion-card-title style="text-align: center;" *ngIf="qrText != null">
      {{qrText}}
    </ion-card-title>
    <ion-row>
      <ion-col>
          <button ion-item secondary (click)="shareQRCode()">
              <ion-icon name="share-alt" item-start></ion-icon>
              Partarger
            </button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
</ion-content>
